/* 基本単位 */
:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --color-primary: #9cdcfe;
  --color-class: #569cd6;
  --color-define: #4fc1ff;
  --color-class-name: #4ec9b0;
  --color-parentheses: #ffd700;
  --color-import: #c586c0;
  --color-string: #ce9178;
  --color-text-selection: #9cdcfe85;
  --color-back-slash: #d7ba7d;
  --color-comment-out: #6a9955;
  --color-ubuntu-terminal: #36ce77;
  --hover-opacity: 0.6;
  --hover-transition: all 0.3s;
}

#body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.margin-adjust {
  margin-left: 16px;
  margin-right: 16px;
}

.letter {
  font-family: Consolas, 'Courier New', monospace;
  font-weight: normal;
  font-feature-settings:
    'liga' 0,
    'calt' 0;
  font-variation-settings: normal;
  line-height: 19px;
  letter-spacing: 0px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

li {
  list-style: none;
}

.align-left {
  margin-right: auto;
  margin-left: 0;
}

.align-right {
  margin-right: 0;
  margin-left: auto;
}

.side-space {
  min-width: 240px;
  max-width: 240px;
}

.mr-a {
  margin: auto;
}

.w100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}
